.button
  min-width 100px
  min-height 50px
  margin 20px 100px
  display flex
  justify-content center
  align-items center
  border-radius 5px
  background-color #42AAC7
  color #fff
  font-size 26px
  font-weight bold
  transition-property background-color
  transition-duration 100ms

  &:hover
    background-color #97D3E3

  &:active
    background-color #91DBB9
