.button
  min-width 100px
  min-height 50px
  margin 20px 100px
  display flex
  justify-content center
  align-items center
  border-radius 5px
  background-color #aaa
  color #fff
  font-size 26px
  font-weight bold
  transition-property background-color
  transition-duration 100ms

  &.on
    background-color #007AB7

  &:hover
    background-color #208DC3

  &:active
    background-color #6EB7DB
