html
  head
    link(rel="stylesheet" media="all" href="css/main.css")
  body
    script.
      window.onload = function() {
        var d = document.querySelector('.button');
        d.addEventListener('click', function() {
          var covers = document.querySelectorAll('.no-game-content');
          covers.forEach(function(cover) {
            cover.classList.toggle('on');
          });
          d.textContent  = d.textContent == 'ON' ? 'OFF' : "ON";
          d.classList.toggle('on');
        });
      };
    h2 ノーゲーム・ノーライフのOP風アニメーション
    for val,index in [['オープンニングテーマ', '「 This game 」'],['作詞', '深青結希'],['作曲','若林　充'],['編曲','eba'],['歌','鈴木このみ']]
      .no-game-content
        .left-brackets 「
        .animation-cover
          span.text.left #{val[0]}
          span.text.right #{val[1]}
        .right-brackets 」
    .button OFF
