html
  head
    link(rel="stylesheet" media="all" href="css/main.css")
  body
    script.
      window.onload = function() {
        var d = document.querySelector('.button');
        d.addEventListener('click', function() {
          var covers = document.querySelectorAll('.no-game-content');
          covers.forEach(function(cover) {
            cover.classList.toggle('on');
          });
        });
      };
    h2 ノーゲーム・ノーライフのOPのヒトの表示風アニメーション
    for val,index in ['テスト　', 'ほげほげ', '総監督　わっしょい鈴木', '(*^_^*)(*^_^*)(*^_^*)(*^_^*)']
      .no-game-content
        .left-brackets 「
        .animation-cover
          span.text #{val}
        .right-brackets 」
    .button on
